.img-thumbnail{
    height: 56px;
}
.container-fluid, .col-3, .col-5, .col-4, .col-sm-12, .col-12{
    padding: 0px !important;
}
#dragTree>ul{
    padding: 0px !important;
}
.dataTables_filter input{
    padding-left: 40px;
    border: solid 1px;
}
.dataTables_filter div{
    margin: -30px 0px 0px 14px;
}
table th{
    padding: 0px 14px!important;
}
.order-section{
    padding: 8px;
}
.height_74vh{
    min-height: 74vh;
}
table{
    border-color: transparent !important;
}
.btn-number {
    font-size: 2rem;
    min-width: 50px;
    width: 84% !important;
}
.btn-number-password {
    font-size: 2rem;
    min-width: 50px;
    width: 94% !important;
}
.input-display {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 95%;
}
.input-display-lg {
    font-size: 24px;
    margin-bottom: 7px;
    text-align: center;
    padding: 4px 7px;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 64%;
}
.input-display_ {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 95%;
}
.input-display_ {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 95%;
}
.input-display_password {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 98%;
}
#change_cashier select{
    width: 98%;
}

.cash_calculator{
    max-width: 440px;
    width: 45%;
}
.modal_close{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-custom ul, .navbar-custom ul li{
    height: 100%;
}
.navbar-custom ul li{
    display: flex;
    align-items: center;
}
.btn-outline-secondary{
    width: 30%;
    height: 50px;
    border-radius: 10px;
    border: solid 1px #ccc;
}
.btn-outline-secondary:hover h6, .btn-outline-secondary.active h6{
    color:white !important;
}
.modal-header h6{
    margin: 0px !important;
}
.select2-container--default.select2-container--disabled .select2-selection--single{
    background-color: transparent;
}
.top_cashbox_buttons{
    display: flex;
    justify-content: center;
}

.table-striped>tbody>tr{
    height: 24px !important;
}
.top_cashbox_buttons button{
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dataTables_wrapper .col-md-6{
    margin-bottom: 8px !important;
}
.dataTables_wrapper .dataTables_filter input{
    height: 34px !important;
}
.dataTables_length[id="all_products_list_for_selling_length"]{
    display: none !important;
}
.offcanvas tr{
    cursor: pointer;
    transition: 0.1s;
}
.offcanvas tr:hover{
    background-color: rgb(0, 0, 0, 0.1);
}
.input-display_password[disabled] {
    outline: none !important;
    pointer-events: none !important; /* Foydalanuvchi bosishiga ruxsat bermaslik */
    cursor: not-allowed !important; /* Foydalanuvchi uchun ko'rsatma */
}