.welcome-body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center !important;
    background-color: #ffffff !important;
}
.welcome{
    Width: 454px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.welcome_register{
    Height: 468px;
}
.welcome_login{
    Height: 403px;
}
.welcome-header_title{
    font-family:Stem;
    font-weight:500;
    font-size:36px;
    line-height: 44.64px;
    text-align: center;
    color: #121212;
}
.welcome-header_img{
    width: 214px;
    height: 87px;
}
.welcome-header-content_input{
    width: 454px;
    height: 50px;
    border-radius: 10px;
    padding:22px 30px 22px 30px;
    gap: 10px;
    background-color: #F2F2F2;
    border: 0px;
}
.welcome-header-content-link{
    display: flex;
    justify-content: space-between;
}
.welcome-header-content-link_login{
    margin-top: 44px;
}
.welcome-header-content-link_register{
    margin-top: 34px;
}
.welcome-header-content_button{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding: 15px 23px 15px 23px;
    gap: 10px;
    border: 0px;
}
.welcome-header-content-button_register{
    background-color: #FB850E;
    color: white;
    text-decoration: none;
}
.welcome-header-content-button_login{
    background-color: #3EB944;
    color: white;
}
.register_button{
    width: 100%;
}
.main{
    margin: 0px !important;
}
.content{
    display: flex;
    min-height: 94%;
}
.row{
    margin: 0px !important;
}
.main_menu{
    padding: 24px 0px !important;
    display: flex;
    justify-content: center;
    border-right: solid 1px #F8F8F8;
    min-height: calc(100vh - 48px) !important;
}
.main_menu>div{
    min-height: 100%;
}
.main_content{
    background-color: #F8F8F8;
}
.p_right_0{
    padding-right: 0px !important;
}
.right_options{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.main-menu-top_buttons{
    display: flex;
    flex-direction: column;
    min-height: 60%;
    margin-bottom: 44px;
}
.main-menu-bottom_buttons{
    display: flex;
    flex-direction: column;
}
.main-menu-top-buttons_logo{
    width: 63px;
    height: 55px;
}
.main-menu-top-buttons-link-main{
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 84px;
    gap: 5px;
    margin-bottom: 54px;
}
.main-menu-top-buttons_link{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 84px;
    gap: 5px;
    margin-bottom: 28px;
    text-align: center;
}
.main-menu-top-buttons_link .active{
    color: #FB850E;
}
#side-menu a{
    text-decoration: none;
}
.main-menu-top-buttons_link:hover{
    text-decoration: none;
}

.user_edit_logout{
    border: 0px;
    background-color: transparent;
    color: #98a6ad
}
.user-name{
    font-size: 14px;
    text-decoration: none;
}
.left-side-menu{
    width: 214px;
    position: fixed !important;
    z-index: 1004 !important;
    margin-top: -70px;
    display: block !important;
}
.main-menu-buttons_link-img{
    display: flex;
    justify-content: center;
}
.main-menu-top-buttons-link_svg{
    width: 30px;
    height: 30px;
    margin-bottom: 4px;
}
.main-menu-buttons_link-img_circle{
    height: 50px;
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 25px;
    border: solid 1px #F1EA19;
}
.main-content-header_search_circle{
    width: 50px;
    height: 50px;
    top: 27px;
    left: 730px;
    gap: 0px;
    border-radius: 10px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 18px;
    background-color: white;
    height: 104px;
    border-bottom: 1px solid #F2F2F2;
}
.main-content-header_end{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0px 18px;
    background-color: #1E1E20;
    height: 104px;
}
.main-content-header_search{
    width: 84%;
}
.product-main-content-header_search{
    width: 70%;
}
.input-default{
    height: 50px;
    border-radius:10px;
    gap:10px;
    background-color: #F2F2F2;
    border: 0px;
}
.input-default_{
    height: 40px;
    border-radius:10px;
    padding: 11px !important;
    gap:10px;
    border: 0px;
}
.product-input-default{
    height: 50px;
    border-radius:10px;
    gap:10px;
    background-color:#F2F2F2;
    border: 0px;
}
.product-content-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 51px;
    width: 50px;
    gap: 10px;
    border:0px;
    background-color: #F2F2F2;
}
.input_icon{
    position: absolute;
    margin: 4px 0px 0px 28px;
    z-index:4;
}
.input_icon_{
    position: absolute;
    margin: 14px 0px 0px 28px;
    z-index:4;
}
.main-content-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 224px);
}
.main-content-section_bills{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 364px);
    position: relative;
    padding: 24px 8px;
    overflow-y: auto;
    width: 100%;
    border-top: 1px solid #F2F2F2;
}
.container-fluid{
    height: calc(100% - 172px);
}
.product-main-content-section{
    height: 100%;
    margin: 20px 0px;
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
}
.order-section{
    min-height: 100%;
    margin: 0px 0px 20px 0px;
}
.main-content-section_header{
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
}
.left-buttons{
    position: absolute;
}
.left-buttons>button{
    z-index:4;
    margin-top: 44px !important;
}
.main-content-section-header-text_title{
    font-family: Stem;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #ECECEC;
}
.main-content-section-header-text_id{
    font-family: Stem;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #606368;
}
.main-content-section-header_options{
    display: flex;
    justify-content: space-between;
}
.main-content-section-header_options>button{
    width: auto;
    height: 56px;
    padding: 15px 23px 15px 23px;
    gap: 10px;
    margin-top: -4px;
}
.main-content-section-header_options>button>span{
    margin-left: 10px;
}
.main-content-section-header-options_create{
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #F1EA19;
    color: #FB850E;
    background-color: #FBE1C7;
    margin-right: 14px;
}
.main-content-section-header-options_import{
    border: 1px solid #64469C;
    color: #64469C;
    background-color: transparent;
    margin-right: 14px;
}
.main-content-section-header-options_select{
    border: 0px;
    color: white;
    background-color: #333333;
}
.main-content-section_container{
    height: calc(100vh - 266px);
    width: 100%;
    display: flex;
    align-items: center;
}
.basket-products{
    height: calc(100vh - 266px);
    width: 100%;
    display: flex;
    align-items: start;
}
.main-content-section-container-text{
    font-family: Stem;
    font-weight: 350;
    font-size: 16px;
    line-height: 18.72px;
    text-align: center;
    color: #606368;
}
.main-content-section_container_blank{
    height: 104px;
}
.payment_content{
    margin-top: 60px;
}
.payment-content-header_title{
    display: flex;
    justify-content: space-between;
}
.payment-content-header_user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative !important;
    z-index: 1 !important;
}
.payment-content-header-user_name{
    width: 100%;
}
.payment-content-header-title_name{
    font-family: Stem;
    font-weight: 500;
    font-size: 20px;
    line-height: 24.8px;
    color: #ECECEC;
    margin-bottom: 0px !important;
}
.payment-content-header-title_name_{
    font-family: Stem;
    font-weight: 500;
    font-size: 20px;
    line-height: 24.8px;
    margin-bottom: 0px !important;
}
.payment-content-header-title_button{
    text-decoration: none;
    font-family: Stem;
    font-weight: 350;
    font-size: 16px;
    line-height: 18.72px;
    color: #F1EA19;
}
.payment-content-header_user>div{
    width: 100%;
}
.menu-link-active{
    color: #FB850E;
}
@media only screen and (max-width: 1199px) {
    .input-default{
        padding: 11px 0px 11px 30px !important;
    }
    .input-default_{
        width: 114px;
    }
    .product-input-default{
        padding: 11px 0px 11px 30px;
    }
    .basket-product-sum, .basket-product-sum-with-discount, .basket-product-title{
        font-size: 12px !important;
    }
    .basket-product_margin_end{
        margin-left: 7px;
    }
}
@media only screen and (min-width: 1200px) {
    .payment-content-discount_button{
        padding: 11px 30px 11px 30px;
    }
    .input-default{
        padding: 11px 30px 11px 30px !important;
    }
    .input-default_{
        width: 144px;
    }
    .product-input-default{
        padding: 11px 0px 11px 30px;
    }
    .basket-product_margin_end{
        margin-left: 14px;
    }
}
.payment-content-discount_button{
    width:98px;
    height: 50px;
    border-radius: 100px;
    gap: 10px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ECECEC;
}
.payment-button{
    width:216px;
    height: 50px;
    border-radius: 100px;
    padding: 15px 23px 15px 23px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: Stem;
    font-weight: 350;
    font-size: 16px;
    line-height: 18.72px;
}
.payment-button-receiving{
    width:174px;
    height: 50px;
    border-radius: 100px;
    padding: 15px 18px 15px 18px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: Stem;
    font-weight: 350;
    font-size: 16px;
    line-height: 18.72px;
}
.payment-button_disable{
    background-color: #333333;
    color: #606368;
}
.payment-button-cancell{
    background-color: #F1EA19;
    color: #1E1E20;
}
.payment-button-perform{
    background-color: #64469C;
    color: white;
}
.discount-button-active{
    color: #606368;
}
.payment-method-name{
    font-family: Stem;
    font-weight: 350;
    font-size: 12px;
    line-height: 18.72px;
    color:#ECECEC
}
.payment-method-name_{
    font-family: Stem;
    font-weight: 350;
    font-size: 12px;
    line-height: 18.72px;
}
.payment-sum-title{
    font-family: Stem;
    font-weight: 350;
    font-size: 18px;
    line-height: 21.06px;
    color:#606368;
}
.payment-sum-title_allsum{
    font-family: Stem;
    font-weight: 500;
    font-size: 24px;
    line-height: 29.76px;
    color:#ECECEC;
}
.payment-sum-quantity{
    font-family: Stem;
    font-weight: 350;
    font-size: 18px;
    line-height: 21.06px;
    color:#ECECEC;
}
.payment-sum-quantity_allsum{
    font-family: Stem;
    font-weight: 500;
    font-size: 24px;
    line-height: 29.76px;
    color:#ECECEC;
}
.payment-sum-hr{
    height: 2px !important;
    border-radius: 5px;
    color: #333333;
}
.basket-products{
    display: flex;
    flex-direction: column;
}
.basket-product{
    color: white;
    text-decoration: none;
    width: 100%;
    height: 74px;
    border-radius: 20px;
    padding: 8px 14px !important;
    gap: 10px;
    background-color: #1E1E20;
}
.basket-product-quantity_content{
    width: 20px;
}
.basket-product-img{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background-color:#333333;
}
.basket-product-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.basket-product-edit{
    width: 24px;
    height: 24px;
    color: #F1EA19;
}
.basket-product-trash{
    width: 24px;
    height: 24px;
    color: #64469C;
}
.basket-product-sum{
    font-family: Stem;
    font-weight: 500;
    font-size: 20px;
    line-height: 24.8px;
    color:#F1EA19;
}
.basket-product-sum-with-discount{
    font-family: Stem;
    font-weight: 350;
    font-size: 16px;
    line-height: 18.72px;
    color:#606368;
}
.module_item a{
    text-decoration: none;
}
.text-white{
    color:white;
    font-family: Stem;
}

/*.table-striped>tbody>tr:nth-of-type(odd)>*{*/
/*    background-color: #333333 !important;*/
/*}*/
#table_holder{
    color:white;
}
.table-striped>tbody>tr{
    height: 40px !important;
}
.table-hover>tbody>tr:hover>*{
    background-color: #444444 !important;
    color:white;
}
/*.table-striped>tbody>tr:nth-of-type(odd){*/
/*    background-color: #555555 !important;*/
/*}*/
/*.table-striped>tbody>tr:nth-of-type(odd):hover{*/
/*    background-color: #666666 !important;*/
/*}*/
.open_check{
    font-family: Stem;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.8px;
    text-align: center;
    color: #000000;
}
.wrapper{
    height:100%;
    background-color: #171717;
}
.panel .panel-heading{
    background-color: #333333 !important;
}
.bg-danger h4{
    color: white !important;
}
.panel-heading{
    height: 80px;
    display: flex;
    align-items:center;
    padding: 0px 54px;
}
.panel .list-group{
    padding: 0px 54px;
    background-color: #1E1E20 !important;
}
.panel .list-group-item{
    background-color: #1E1E20 !important;
    color: white !important;
    border: 1px solid #333333 !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
}
.panel-primary, .panel-heading{
    border: 0px !important;
}
.left_menu_icon, .panel-title img{
    width: 23px;
    height: 23px;
    margin-top: -5px;
}
.panel-title{
    font-family: Stem;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.76px;
    text-align: left;
    color: #ECECEC;
}
.panel-title span{
    margin-left: 12px;
}
.message_content{
    display: flex;
    justify-content: center;
    top: 274px;
    left: 355px;
    padding: 50px;
    gap: 10px;
    border-radius: 20px;
    color: #ECECEC;
    background-color: #1E1E20;
    width: 514px;
    margin-top:-164px;
}
.message_content form{
    width:100%;
}
.message_content_input{
    padding: 11px 30px !important;
    gap: 10px;
    border-radius: 100px !important;
    background-color:#333333 !important;
    border: 0px;
    color:white;
    height:50px !important;
}
.message_content_input_login{
    padding: 11px 60px !important;
    gap: 10px;
    border-radius: 100px !important;
    background-color:#333333 !important;
    border: 0px;
    color:white;
    height:50px !important;
}
.message_content_input_price{
    padding: 11px 45px !important;
    gap: 10px;
    border-radius: 100px !important;
    background-color:#333333 !important;
    border: 0px;
    color:white;
    height:50px !important;
}
.message_content_textarea{
    padding: 11px 30px !important;
    gap: 10px;
    background-color:#333333 !important;
    border-radius: 15px !important;
    border: 0px;
    color:white;
    height:250px !important;
    width:100% !important;
}
.message_content legend{
    font-family: Stem;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.76px;
    text-align: center;
    color: #ECECEC;
}
.help-block{
    font-family: Stem;
    font-size: 14px;
    font-weight: 350;
    line-height: 16.38px;
    text-align: center;
    color: #606368;
}

.message_submit{
    width: 216px;
    height: 50px;
    padding: 15px 23px;
    gap: 10px;
    border-radius: 100px;
    background-color: #F1EA19;
    color: #121212;
}
.message_submit:hover{
    color:#121212;
}
.taxes_tabs{
    border-bottom: 1px solid #333333 !important;
}
.taxes_tabs>li>a{
    border-bottom: 0px !important;
    color: #606368;
    font-family: Stem;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.32px;
    text-align: left;
}
.taxes_tabs>li>a:hover, .taxes_tabs>li>a:focus{
    color: #64469C;
    border: 0px !important;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 1px solid #64469C !important;
    background-color: transparent;
}
.taxes_tabs>li.active>a, .taxes_tabs>li.active>a:hover, .taxes_tabs>li.active>a:focus{
    color: #64469C;
    background-color: transparent;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 1px solid #64469C !important;
}
.tax_code_number{
    font-family: Stem;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.32px;
    text-align: end;
    padding-right: 24px;
    color: #ECECEC;
}
.tax_add{
    width: 44px;
    height: 44px;
    padding: 8px;
    gap: 10px;
    border-radius: 10px;
    background-color: #333333;
}
.add_tax_jurisdiction{
    margin: -9px 0px 7px 0px
}
.tax_minus{
    width: 44px;
    height: 44px;
    padding: 8px;
    gap: 10px;
    border-radius: 10px;
    background-color: #333333;
}
#tax_jurisdictions{
    height: 144px;
}
.jurisdiction_form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.jurisdiction_form_option{
    display: flex;
    align-items: center;
    height: 114px;
}
.jurisdiction_form_code_number{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 114px;
}
.company_logo_img{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 217px;
    height: 217px;
    gap: 0px;
    border-radius: 20px;
    background-color: #333333;
}
.setting_label{
    font-family: Stem !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 19.84px !important;
    color: #ECECEC !important;
    display:flex;
    align-items: center;
}
.config_input_group .input-group, .config_input_group .message_content_input{
    width: 100%;
}
#config_info{
    padding: 24px;
}
.width_100_percent{
    width: 100% !important;
}
.width_304_pixel{
    width: 304px !important;
}
.width_344_pixel{
    width: 344px !important;
}
.width_144_pixel{
    width: 144px !important;
}
.width_114_pixel{
    width: 114px !important;
}
.width_25_percent{
    width: 25% !important;
}
.width_20_percent{
    width: 20% !important;
}
.width_22_percent{
    width: 22% !important;
}
.width_15_percent{
    width: 15% !important;
}
.width_15_percent{
    width: 15% !important;
}
.width_30_percent{
    width: 30% !important;
}
.width_60_percent{
    width: 60% !important;
}
.width_66_percent{
    width: 66% !important;
}
.width_74_percent{
    width: 74% !important;
}
.width_45_percent{
    width: 45% !important;
}
.width_50_percent{
    width: 50% !important;
}
.default_sale_discount_type{
    border: 1px solid #606368;
    width: 90px;
    height: 56px;
    border-radius: 100px;
    padding: 15px 23px 15px 23px;
    gap: 10px;
    background-color: transparent;
    color: #606368;
}
.discount_type_active{
    border: 1px solid #F1EA19;
    color: #F1EA19;
}
select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
select:focus{
    color: #ADB5B5 !important;
}
input[type="number"]{
    text-align: center;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.input-group-addon{
    background-color: #474747 !important;
    color: white !important;
    border: 0px !important;
}
.show-menu-arrow .btn-default{
    padding: 11px 30px !important;
    border-radius: 100px !important;
    background-color: #333333 !important;
    border: 0px !important;
    color: white !important;
    height: 50px !important;
}
.radio-inline{
    color:white !important;
}
.placeholder_percent{
    position: absolute;
    width: 16px;
    height: 16px;
    top: 4px;
    left: 4px;
    gap: 0px;
    color: #606368 !important;
    margin: 13px 7px 0px 30px;
}
.padding_40{
    padding-left: 40px !important;
}
.padding_12{
    padding-left: 12px !important;
}
.glyphicon {
    color: #585B5F;
}
.select-image-button, .button_purple {
    background-color: #64469C;
    border:0px;
}
.select-image-button:hover, .button_purple {
    background-color: #64469C;
    color: white;
}
.d-none{
    display: none;
}
.weight_350{
    font-weight: 350 !important;
}
.font-40{
    font-size: 40px;
}
.font_size_20{
    font-size: 20px;
}
.font_size_17{
    font-size: 17px;
}
.font_size_14{
    font-size: 14px !important;
}
.font_size_12{
    font-size: 12px !important;
}
.radio-inline{
    margin-left: 0px !important;
}
.form-horizontal .setting_label{
    text-align: start;
}
.flex_wrap{
    flex-wrap: wrap;
}
.all_info_texts{
    font-family: Stem;
    font-size: 16px;
    font-weight: 350 !important;
    line-height: 18.72px;
    text-align: left;
    color: #ECECEC;

}
.height_50{
    height: 50px;
}
.height_10{
    height: 10px;
}
.height_18{
    height: 18px;
}
.height_100{
    height: 100px !important;
}
.height_144{
    height: 144px !important;
}
.height_100_percent{
    height: 100% !important;
}
#integrations_header, .color_purple, #page_title{
    color: #64469C
}
.bg_color_default{
    background-color: #333333;
    border: 0px;
}
.btn-primary{
    background-color: #64469C !important;
    border:0px !important;
}
#add_item_form, #mode_form, #overall_sale, #payment_details{
    border: 0px;
    background-color: transparent !important;
}
#payment_details, #sale_totals{
    border-top: 0px !important;
}
.bg_transparent{
    background-color: transparent !important;
}
.receiving_search_input{
    padding: 26px 0px 25px 30px;
    height: 50px;
    border-radius: 10px !important;
    background-color: #333333;
    border: 0px;
    color: white !important;
}
.select_customer_content{
    display:flex;
    flex-direction: column-reverse;
}
.finish_receiving_form_content{
    display: flex;
    flex-direction: column-reverse;
}
.text-start{
    text-align: start;
}
.btn-danger{
    background-color: #BB1A1C !important;
    display: flex;
    align-items: center;
}
.btn-danger span{
    color: white !important;
}
.halls_menu{
    height: 55px;
    padding: 15px 25px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #F2F2F2;
    margin-bottom: 7px;
    text-decoration: none;
    color: #121212;
    font-family: Stem;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.8px;
    text-align: center;
}
.bill_info{
    min-height: 70px;
    padding: 7px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #848493;
    margin-bottom: 7px;
    text-decoration: none;
    color: #121212;
    font-family: Stem;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.84px;
    text-align: left;

}
.right_options>.text-start{
    font-family: Stem;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.8px;
    text-align: left;
    color: #121212;
    margin-bottom: 14px;
}
.order-section .nav-tabs{
    border-bottom: 0px !important;
}
.order-section .nav-item .active, .create_button, .create_button:focus{
    border: 1px solid #FB850E;
    color:#FB850E !important;
    background-color: #FBDEC1 !important;
    border-radius: 10px;
    transition: 0.2s;
}
.order-section .nav-item .sub_category.active{
    border: 1px solid #C1C1C1 !important;
    color:#121212;
    background-color: transparent !important;
    border-radius: 10px;
    transition: 0.2s;
}
.create_button:hover{
    color:white;
    background-color: #FB850E;
}
.order-section .nav-link{
    width: auto;
    padding: 4px 14px;
    gap: 10px;
    border-radius: 10px;
     border: 1px solid #C1C1C1;
    color: #121212;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right_section{
    margin: 20px 0px;
    padding: 20px;
    min-height: calc(100% - 124px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right_section .nav-tabs{
    width: 100%;
    border-bottom: 0px !important;
    justify-content: space-between;
}
.right_section .nav-item .active{
    border: 1px solid #FB850E;
    color:#FB850E;
    background-color: #FBDEC1;
}
.right_section .nav-link{
    font-family: Stem;
    font-size: 14px;
    font-weight: 350;
    line-height: 16.38px;
    text-align: left;
    height: 49px;
    padding: 15px 25px;
    gap: 10px;
    border-radius: 10px;
     border: 1px solid #C1C1C1;
    color: #121212;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right_section .nav-item{
    width: 30%;
}
.right_section .tab-content{
    height: 100%;
}
.order_item{
    width: 22%;
    height: 104px;
    padding: 15px 25px;
    gap: 10px;
    border-radius: 15px;
    background-color: #FFFFFF;
    margin: 14px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.order_title{
    font-family: Stem;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.8px;
    text-align: center;
    color: #121212;
}
.order_sum{
    font-family: Stem;
    font-size: 16px;
    font-weight: 350;
    line-height: 18.72px;
    text-align: center;
    color: #FB850E;
}
.order-info-title{
    font-family: Stem;
    font-size: 16px;
    font-weight: 350;
    line-height: 18.72px;
    text-align: left;
}
.order-info-sum{
    font-family: Stem;
    font-size: 16px;
    font-weight: 350;
    line-height: 18.72px;
    text-align: left;
    color: #121212;
}
.order-info{
    font-family: Stem;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.8px;
    text-align: left;
    color: #121212;
}
.products_table th, .products_table td{
    width: 10% !important;
    padding: 10px 4px;
}
.product_images_column{
    display: flex;
    overflow: auto;
    width: 104px;
}
.productImages_column{
    display: flex;
    overflow: auto;
    width: 344px;
}
.description_column{
    width: 144px;
    word-wrap: break-word;
    white-space: normal;
}
#carousel_product_images .img-fluid{
    height: 444px !important;
    width: auto !important;
}
#carousel-modal .carousel-control-prev{
    margin-left: -54px !important;
}
#carousel-modal .carousel-control-next{
    margin-right: -54px !important;
}
#carousel-modal .modal-dialog, #images-modal .modal-dialog{
    margin-top: 144px !important;
}
#carousel-modal .modal-content{
    background-color: transparent!important;
    overflow: visible !important;
}
.modal-content{
    border:0px !important;
}
.delete_product_func{
    height: 20px;
    background-color: transparent;
    border: 0px;
    color: black !important;
}
.product_image img{
    width: 144px !important;
    max-height: 200px !important;
}
.product_image{
    margin-right: 4px;
    transition: 0.4s;
    padding:10px;
    border-radius: 4px;
}
.product_image:hover{
    border: lightgrey;
    transform: scale(1.02);
    background-color: rgba(0, 0, 0, 0.1);
}
.display-none{
    display: none;
}

.language_flag {
    position: absolute;
    z-index: 1;
    margin-top: 164px;
    border: none;
    background-color: transparent;
}
.dropdownMenyApplyUzbFlag {
    background-color: #ffffff;
    width: 155px;
    margin-left: -74px !important;
    margin-top: 7px;
    height: 120px;
    border-radius: 14px;
    padding-top: 5px;
    box-shadow: 2px 4px 14px silver;
}
.dropdownRegionBayroq {
    width: 40px;
    height: 27px;
}

.dropdownLanguageItem {
    transition: all 0.3s ease;
    font-size: 14px;
    padding-left: 17px;
}

.dropdownLanguageItem:hover {
    background-color: #FBE1C7 !important;
    transition: all 0.3s ease;
}

.dropdownLanguageItem.active {
    background-color: #FF860E !important;
    /*color: #EA7B0D !important;*/
}
#settings .main-menu-top-buttons_link{
    background-color: #ECECEC;
}
.background_transparent{
    position: absolute;
    width: 100%;
    height: 100vh;
}
.background_opacity{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0.1, 0.1, 0.1, 0.74);
    z-index: 1005;
    overflow: hidden;
}
.datatable{
    width:100% !important;
}
.buttonUzbDropDownHeader{
    text-decoration: none;
    font-family: Stem;
    font-size: 16px;
    font-weight: 350;
    line-height: 18.72px;
    color: #adb5bd !important;
    display: flex;
    align-items: center;
}
.buttonUzbDropDownHeader img{
    margin-right: 8px;
    height: 18px;
}
.buttonUzbDropDownHeader h6{
    margin-bottom: 0px !important;
}
.buttonUzbDropDownHeader svg{
    margin-top: -4px;
}
.table_view{
    height: 217px;
    padding: 30px;
    gap: 10px;
    border-radius: 15px;
    background-color: #ffffff;
}

@media only screen and (max-width: 1294px) {
    .table-item {
        width: 25%;
    }
    .hall_table_name{
        font-size: 11px!important;
    }
    .table-item div{
        height: 59%;
    }
}
@media only screen and (min-width: 1295px) {
    .table-item {
        width: 22%;
    }
    .hall_table_name{
        font-size: 12px!important;
    }
    .table-item div{
        height: 67%;
    }
}
.table-item{
    aspect-ratio: 1 / 1;
    padding: 30px;
    gap: 10px;
    border-radius: 15px;
    background-color: #FFFFFF;
    margin: 14px 1.5%;
    display: flex;
    position: relative;
    justify-content: center;
    text-decoration: none;
    color: #121212;
    transition: 0.2s;
}
.table_item{
    width: 14%;
    aspect-ratio: 1 / 1;
    margin: 14px;
    gap: 10px;
    border-radius: 15px;
    background-color: #FFFFFF;
    display: flex;
    position: relative;
    justify-content: center;
    text-decoration: none;
    color: #121212;
    transition: 0.2s;
}
.table_waiter_item{
    width: auto;
    aspect-ratio: 1 / 1;
    padding: 14px;
    margin-right: 14px;
    gap: 10px;
    border-radius: 15px;
    height: 74px;
    background-color: #F2F2F2;
    display: flex;
    position: relative;
    justify-content: center;
    text-decoration: none;
    color: #121212;
    transition: 0.2s;
}
.table_item:hover, .table-item:hover, .table_waiter_item:hover{
    cursor: pointer;
    transform: scale(1.04);
}
.table-item div{
    position: absolute;
    display: flex;
    align-items: center;
}
.table-item span{
    font-family: Stem;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.76px;
    text-align: center;
}
.table_item div{
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
}
.table_item span{
    font-family: Stem;
    font-size: 20px;
    font-weight: 500;
    line-height: 14px;
    text-align: center;
}
.close-button{
    width: 217px;
    height: 50px;
    padding: 15px 23px;
    gap: 10px;
    border-radius: 10px;
    color: white;
    background-color: #FB850E;
}
.submit-button{
    width: 217px;
    height: 50px;
    padding: 15px 23px;
    gap: 10px;
    border-radius: 10px;
    color: white;
    background-color: #3EB944;
}
.modal-content form label{
    font-family: Stem;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.84px;
    text-align: center;
    color: #C1C1C1;
}
.modal-content form input[type="text"],
.modal-content form input[type="number"],
.modal-content form input[type="password"],
.modal-content form input[type="email"],
.modal-content form select,
.modal-content form .select2-selection,
.modal-body input[type="text"],
.modal-body input[type="number"],
.modal-body input[type="password"],
.modal-body input[type="email"] {
    border-radius: 10px;
    height: 50px;
    color: #adb5bd !important
}
.modal-content form .select2-selection{
    padding: 5px 14px;
}
.modal-header{
    border-bottom: 0px !important;
}
.default_image_content, .default_image_content_{
    height: 119px;
    width: 119px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    border-radius: 10px;
}
.default_image_content img, .default_image_content_ img{
    height: 32px;
}
.table_title{
    font-family: Stem;
    font-size: 24px;
    font-weight: 350;
    line-height: 28.08px;
    text-align: left;
    color: #C1C1C1;
}
/* Center the loader */
#loader {
    position: absolute;
    left: 40%;
    top: 50%;
    z-index: 1006;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#debt_loader{
    height: 124px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader_44 {
    position: absolute;
    z-index: 1;
    width: 64px;
    height: 64px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}
.delete-text{
    text-align: center;
    font-family: Stem;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.8px;
    color: #121212;

}
.halls_menu.active{
    background-color: #FBDEC1 !important;
}
.right_button_create{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
@media only screen and (min-width: 1767px) {
    .right_button_create {
        margin-left: 84%;
    }
}
@media only screen and (max-width: 1767px) {
    .right_button_create {
        margin-left: 77%;
    }
}
.right_button_create button{
    margin-right: 1.8rem;
}
.global-button{
    width: auto;
    height: 50px;
    padding: 10px 8px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #FB850E;
    color:#FB850E;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FB850E26;
}
.function_buttons a, .function_buttons button{
    width: 34px;
    height: 34px;
    padding: 8px;
    gap: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.edit_button{
    border: 1px solid #3EB944;
    background-color: #3EB94426;
    color: #3EB944;
    transition: 0.14s;
}
.edit_button:hover{
    color: #3EB944;
    transform: scale(1.104);
}
.delete_button{
    border: 1px solid #FB850E;
    color: black !important;
    transition: 0.14s;
}

.delete_button:hover, .modal_confirm:hover, .modal_close:hover{
    transform: scale(1.104);
}
.delete_button_:hover, .modal_confirm_:hover, .modal_close_:hover{
    transform: scale(1.104);
}
.modal_confirm_pay_:hover, .modal_confirm_pay:hover{
    transform: scale(1.04);
}
.bill_edit_button{
    border: 1px solid #3EB944;
    background-color: #3EB944;
    color: white;
    transition: 0.14s;
}
.bill_edit_button:hover{
    color: white;
    transform: scale(1.104);
}
.bill_delete_button{
    border: 1px solid #FB850E;
    background-color: #FB850E;
    color: white;
    transition: 0.14s;
}
.bill_delete_button:hover{
    color: white;
    transform: scale(1.104);
}
.delete_text_content{
    font-family: Stem;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.8px;
    text-align: center;
    color: #121212;
}
.modal-body .text-center{
    padding: 1rem;
}
.modal-body button{
    height: 50px;
    padding: 15px 23px;
    gap: 10px;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.delete_modal_close{
    width: 100px;
    background-color: #FB850E;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete_modal_confirm{
    width: 100px;
    background-color: #3EB944;
}
.modal_close{
    width: 200px;
    background-color: #FB850E;
    transition: 0.14s;
    color: black;
    margin-right: 4px;
}
.modal_close_{
    display: flex;
    align-items: center;
    background-color: #FB850E;
    transition: 0.14s;
    color: white !important;
    margin-right: 4px;
}
.modal_confirm_, .modal_confirm_pay_{
    background-color: #3EB944;
    transition: 0.14s;
    display: flex;
    color: white !important;
    align-items: center;
    justify-content: center;
}
.modal_confirm, .modal_confirm_pay{
    width: 200px;
    background-color: #3EB944;
    transition: 0.14s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons-pdf, .buttons-excel{
    margin-left: 14px !important;
}
.buttons-pdf, .buttons-copy, .buttons-excel{
    width: 44px;
    height: 44px;
    padding: 8px;
    gap: 10px;
    border-radius: 10px !important;
    background-color: #F2F2F2;
    border: 0px;
}
.buttons-pdf:hover, .buttons-copy:hover, .buttons-excel:hover{
    background-color: #F2F2F2 !important;
}
.nav-tabs li a{
    z-index: 1 !important;
}
.restaurant_tables{
    width: 100% !important;
}
table tr, table td{
   color: #adb5bd !important;
}
table{
    border-collapse: inherit;
}
.order-section .card{
    border-radius: 20px;
    border: 0px;
}
.bg-danger_{
    background-color: #FB850E !important;
}
.dataTables_filter{
    color: transparent !important;
}
.card-body .dataTables_wrapper .dataTables_filter input{
    margin-left: -40px !important;
}
.translation_content{
    list-style: none;
    text-align: center;
    color: black;
}
.translation_list{
    height: 44px;
}
.translation_menu{
    width: 100% !important;
    height: 44px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 4px;
    color: black;
}
.translation_list{
    margin-top: 8px;
}
.translation_list a{
    text-decoration: none;
}
.translation_menu{
    transition: 0.4s;
}
.translation_menu:hover{
    background-color: silver;
    transform: scale(1.01);
}
.orders-image-content img{
    width: auto !important;
}
.toast-warning{
    background-color: red !important;
}
.dataTables_length{
    display: flex;
    align-items: center;
}
.restaurant_tables_text{
    padding: 62px 0px !important;
}
.market_tables_text{
    padding: 14px 0px !important;
}
.market_tables_text_big{
    padding: 4px 0px !important;
}
.bootstrap-touchspin-down, .bootstrap-touchspin-up{
    border: 1px solid #CED4DA !important;
    background-color: transparent !important;
    color: #CED4DA !important;
    font-size: 28px !important;
}
.bootstrap-touchspin-down{
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
.bootstrap-touchspin-up{
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}
.input-group-text{
    height: 100% !important;
    border-radius: 0px !important;
    background-color: #F2F2F2 !important;
}
.input-group-merge .input-group-text{
    height: 50px !important;
    border-bottom-right-radius: 10px !important;
    border-top-right-radius: 10px !important;
}
.bootstrap-touchspin input{
    border-left: 0px !important;
    border-right: 0px !important;
}
.show_page{
    text-decoration: none;
    color: #121212;
}
a, td>img{
    cursor: pointer;
}
a{
    text-decoration: none;
}
del{
    opacity: 0.4;
}
.accordion.custom-accordion .card, .accordion.custom-accordion .card-header{
    border-radius: 0px!important;
}
.custom-accordion-title{
    text-decoration: none;
    position: relative;
}
.accordion.custom-accordion{
    padding: 24px;
    min-height: 100%;
}
.accordion.custom-accordion .card{
    border: 0px !important;
}
.order-type{
    font-family: Stem;
    background-color: #FBDEC1;
    font-weight: 700;
    color: #121212;
    font-size:14px;
    line-height: 18px;
    border-radius: 6px;
    padding: 4px 8px;
}
.order-status{
    font-family: Stem;
    background-color: #FFFFFF;
    font-weight: 700;
    color: #121212;
    font-size:14px;
    line-height: 18px;
    border-radius: 6px;
    padding: 4px 8px;
}
.order_label{
    font-family: Stem;
    font-weight: 400;
    font-size:14px;
    line-height:20px;
    color: black !important;
}
.order_title_text{
    font-family: Stem;
    font-weight: 500;
    font-size:14px;
    line-height: 18px;
    color: black !important;
}
.order-number_label{
    font-family: Stem;
    font-weight: 400;
    font-size:18px;
    line-height:20px;
    color: black !important;
}
.order-number_title_text{
    font-family: Stem;
    font-weight: 500;
    font-size:22px;
    line-height: 18px;
    margin-left: 14px;
    color: black !important;
}
.opacity_60{
    opacity: 0.6;
}
.opacity_80{
    opacity: 0.8;
}
.weight_700{
    font-weight: 700 !important;
}
.order_hr_05{
    color: #3EB94426;
    height: 0.5px !important;
    opacity: 0.4;
    margin: 10px 0px;
}
.order_product_quantity{
    font-family: Stem;
    font-weight: 600;
    font-size:13px;
    line-height:20px;
    color: black !important;
    padding: 4px;
}
.order-items-content{
    width: auto;
    overflow: auto;
    margin: 14px 0px;
    background-color: white;
    padding: 14px 0px;
    border-radius: 8px;
    color: black !important;
}
.order-items-content button{
    width: 80px;
}
.images-content {
    display: flex;
    width: 100%;
    overflow: auto;
    padding: 0px 14px;
}
.border_bottom_2{
    border-bottom: 2px solid #3EB944;
}
.bg-white{
    background-color: white;
}
.bill_info_sum{
    color: #FB850E;
}
.bill_info_table.active{
    background-color: rgb(0, 0, 0, 0.2);
}
.bill_info_table{
    cursor: pointer;
    transition: 0.14s;
}
.bill_info_table:hover{
    transform: scale(1.014);
}
.opacity_1{
    opacity: 1;
}
.border_r_10{
    white-space: nowrap;
    border-radius: 10px;
    height: 48px;
}
.padding_0{
    padding: 0px !important;
}
.padding_20{
    padding: 0px 20px 0px 20px;
}
.new_quantities{
    position: absolute;
    margin-top: -24px;
    margin-right: -75px;
}
#bill_order_quantity, #kitchen_order_quantity{
    height: 20px;
    padding:4px 6px;
}
.required_input{
    border: 1px solid red;
    box-shadow: 1px 1px 6px red;
}
.table-hall-section{
    display: flex;
    padding: 14px;
    margin: 14px;
    background-color: #ffffff;
    border-radius: 15px;
}
.select2-selection__arrow{
    margin-top: 7px;
}
#edit_order_function button{
    height: 24px;
    width: 24px;
    margin-left: 6px;
    padding: 0px;
    color: black;
    border-radius: 4px;
}
.badge-outline-danger{
    color: #ff5b5b;
    width: 100%;
}
.badge-outline-success{
    color: #10c469;
}
.return_links a, .return_links span{
    color: #10c469 !important;
    text-decoration: none;
    margin-left: 14px;
}
.return_links span{
    font-weight: 400;
    font-size: 18px;
}
.return_links a{
    font-weight: 700;
    font-size: 18px;
    transition: 0.14s;
}
.return_links a:hover{
    transform: scale(1.14);
}
.postion_fixed_right{
    position: fixed;
    bottom: 24px;
    right: 14px;
}
.add_to_order_buttons{
    position: fixed;
    bottom: 24px;
    left: 60%;
    background-color: white;
}
.add_to_order_buttons_{
    position: fixed;
    width: 33%;
    bottom: 54px;
    z-index: 1004;
}
.add_to_order_buttons_ div{
    width: 60%;
}
.position_fixed_bottom{
    position: fixed;
    bottom: 24px;
}
.create_table_position{
    position: fixed;
    bottom: 24px;
    left: 12%;
}
.bills_history_content{
    padding: 14px;
    margin-top: 14px;
    box-shadow: -2px -1px 6px 2px;
    border-top: solid 1px #C1C1C1;
    right: 1.1%;
    width: 100%;
    margin-left: 14px;
}
#bills_history h6{
    font-size: 14px !important;
}
#bills_history #bills_history_data h6{
    font-size: 12px !important;
}
.bill_right_option{
    height: calc(100vh - 310px);
}
.confirming_content span{
    color: green !important;
}
.bg_warning{
    background-color: #FBD5AF;
}
.text-red{
    color: red !important;
}
.required{
    border: solid 1px red;
}
.required:focus{
    border: solid 1px red;
}
.pay_off_debt_user{
    margin: -14px 14px 14px 14px;
}
.pay_off_debt_user .card{
    border-radius: 10px;
}
.pay_off_debt_user .card-header{
    border-bottom: 0px !important;
}
.pay_off_debt_user a{
    text-decoration: none;
}
.table_reserved{
    border: 1px solid #3EB944;
    box-shadow: 1px 1px 12px #3EB944;
}
.table_info_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.order_info_text{
    width: auto !important;
    font-size: 14px;
}
.current_order_background{
    background-color: #CDFBF0;
}
.flatpickr-current-month .numInputWrapper .arrowUp, .flatpickr-current-month .numInputWrapper .arrowDown{
    margin-right: -14px;
}
.editable.editable-click{
    width: 154px;
}
#reserved_all button:disabled{
    opacity: 0.4 !important;
}
.color_red{
    color: red;
}
#clientDiscountContent h6, #clientDiscountContent span, #generalDiscountContent h6, #generalDiscountContent span{
    margin-bottom: 0px !important;
    margin-top:7px;
}
.mdi-printer{
    color: green;
}
#full_info_modal .modal-body{
    padding: 24px;
}
body[data-layout-color=light]{
    color: #adb5bd !important;
    background-color: #E3E9ED !important;
}
body[data-layout-color=dark]{
    background-color: #2C333E !important;
    color: #adb5bd !important;
}
.dropdown-toggle:after{
 display: none;
}
.back_dark{
    background-color: #2C333E;
}
#wrapper{
    min-height: calc(100vh - 63px);
}
.overflow_hidden{
    overflow: hidden;
}
.flatpickr-monthDropdown-months{
    color: #7E7F80!important;
}
textarea, textarea:focus, .form-control, .form-control:focus, .btn-close{
    color: #A5ACB5 !important;
}
.btn-close{
    background-color: #A5ACB5 !important;
}
.jstree-default .jstree-icon:empty{
    display: inline-table;
}
#dragTree ul{
    list-style: none;
}
#dragTree a{
    text-decoration: none;
    color: #98a6ad;
}
#dragTree .jstree-icon{
    cursor:pointer
}
.modal-full-width{
    max-width: 84% !important;
}
.navbar-custom{
    box-shadow: 1px 4px 8px rgb(0, 0, 0, 0.4);
}
.menu_bar{
    display: inline-flex !important;
    align-items: center;
}
.button-menu-mobile{
    text-align: center;
}
.user-box{
    display: block !important;
    min-height: 84px;
}
body[data-leftbar-size=condensed] .user-box{
    display: block !important;
}
body[data-leftbar-size=condensed] .menu_bar{
    margin-left: 0px !important;
}
body[data-leftbar-size=condensed] .user-box div, body[data-leftbar-size=condensed] .user-box ul{
    display: none !important;
}
body[data-leftbar-size=condensed] .left-side-menu{
    /*position: fixed !important;*/
    min-height: 100vh;
    z-index: 4 !important;
}
body[data-leftbar-size=default] .left-side-menu{
    min-width: 214px !important;
}
footer{
    left:204px!important;
}
body[data-leftbar-size=condensed]:not([data-layout=compact]){
    min-height: 100vh !important;
}
body[data-leftbar-size=condensed] .content-page {
    margin-left: 74px !important;
    padding: 0 10px;
}
body[data-leftbar-size=default] .content-page {
    padding: 0 10px;
    margin-left: 214px !important;
}
body[data-leftbar-size=condensed] .footer {
    left: 70px !important;
}
body[data-leftbar-size=compact] .footer{
    left: 160px !important;
}
.keyboard {
    display: grid;
    grid-template-columns: repeat(14, 24px);
    gap: 10px;
    justify-content: center;
}
.key {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: #ddd;
    text-align: center;
    /*line-height: 50px;*/
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}
.key_space {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 94px;
    height: 24px;
    background-color: #ddd;
    text-align: center;
    /*line-height: 50px;*/
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}
.key:hover {
    background-color: #ccc;
}
.keyboard_big {
    display: grid;
    grid-template-columns: repeat(10, 34px);
    gap: 10px;
    justify-content: center;
}
.key_big, .key_big_fast {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 39px;
    background-color: #ddd;
    text-align: center;
    /*line-height: 50px;*/
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}
.key_space_big, .key_space_big_fast {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 94px;
    height: 44px;
    background-color: #ddd;
    text-align: center;
    /*line-height: 50px;*/
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}
.key_big:hover, key_big_fast:hover {
    background-color: #ccc;
}
.keyboard_big h6, .keyboard h6{
    margin-bottom: 0px !important;
}
.dark_header_keyboard{
    background-color: #404959 !important;
    color: white !important;
}
.dark_keyboard{
    background-color: dimgrey !important;
    color: white !important;
}
.accordion-button{
    background-color: rgb(0, 0, 0, 0.24) !important;
}
.fa-keyboard{
    color: white !important;
}
.navbar-custom ul, .navbar-custom ul li{
    height: 100%;
}
.navbar-custom ul li {
    display: flex;
    align-items: center;
}
#popover-container .popover{
    background-color: white;
}
#popover-container b, #popover-container h6{
    font-size: 14px;
    margin-bottom: 0px !important;
}
#all_sum_info thead, #all_sum_info tbody, #all_sum_info th, #all_sum_info tr,#all_sum_info td{
    border: 0px !important;
}
#search-dropdown{
    width: 44%;
}
.offcanvas-top{
    max-height: 549px !important;
    min-height: 394px !important;
}
.offcanvas-body{
    padding: 0px !important;
}
.offcanvas{
    background-color: transparent !important;
}
.color_white{
    color: white !important;
}
.accordion-item, .accordion-header,.accordion-button{
    background-color: transparent !important;
}
@media (max-width: 991.98px) {
    body {
        overflow-x: hidden;
        padding-bottom: 57px;
    }
}
body[data-layout-color="dark"] .fa-keyboard, body[data-layout-color="dark"] .accordion-button::after{
    color: white !important;
}
body[data-layout-color="light"] .fa-keyboard, body[data-layout-color="dark"] .accordion-button::after{
    color: black !important;
}

#all_sum_info td{
    padding: 7px 24px !important;
}
.mt_10{
    margin-top: 10px !important;
}
.withouth_discount_price{
    display: block;
}
.bill_info img{
    width: 34px !important;
    height: auto !important;
}

body[data-leftbar-position="fixed"] .content-page{
    height: 87vh;
}
.width_height_confirm_button{
    height: 94px !important;
}

#all_sum_info{
    position: fixed;
    background-color: rgb(0, 0, 0, 0.1);
    bottom: 54px;
    height: 94px !important;
    border-radius: 4px;
    z-index: 1004;
}

body[data-leftbar-size=default] .menu_bar{
    margin-left: 214px;
}

body[data-leftbar-size=compact] .menu_bar{
    margin-left: 170px;
}

body[data-leftbar-size=condensed] #all_sum_info{
    width: calc(68% - 124px);
}

body[data-leftbar-size=default] #all_sum_info{
    width: calc(68% - 214px);
}

body[data-leftbar-size=compact] #all_sum_info{
    width: calc(68% - 178px);
}

body[data-leftbar-size=condensed] .width_height_confirm_button{
    width: calc(100% - 30px) !important;
}
body[data-leftbar-size=default] .width_height_confirm_button{
    width: calc(100% - 74px) !important;
}
body[data-leftbar-size=compact] .width_height_confirm_button{
    width: calc(100% - 54px) !important;
}
.content-page{
    overflow-y: auto;
}
#fast_selling_goods_modal .badge-soft-secondary{
    height: 74px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    border-radius: 4px;
}
#fast_selling_goods_modal .badge-soft-secondary h6{
    font-size: 12px !important;
}
#edit_product_modal .modal_close, #edit_product_modal .modal_confirm{
    width: 44%!important;
    border-radius: 14px !important;
}
#selected_product_unit{
    font-size: 12px !important;
    margin-top: 14px;
    margin-left: 4px;
}
.pre_wrap{
    white-space: pre-wrap;
}
.badge-soft-secondary .pre_wrap{
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0px !important;
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 4px;
}
.badge-soft-secondary .pre_wrap b{
    z-index: 6;
    color: white!important;
}
.tablesaw tbody th, .tablesaw td{
    padding: 7px 10px !important;
}
.tablesaw h6{
    margin-bottom: 0px !important;
}
body[data-layout-color="light"] #order_data_content .active, body[data-layout-color="light"] .checklist_item.active{
    background-color: rgb(0, 0, 0, 0.2);
}
body[data-layout-color="dark"] #order_data_content .active, body[data-layout-color="dark"] .checklist_item.active{
    background-color: rgba(255, 255, 255, 0.2);
}
.fast_selling_images_button{
    position:relative;
    border-radius: 4px;
}
.fast_selling_images_button div{
    position:absolute;
    height: 100%;
    width: 98%;
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 4px;
}
.fast_selling_images_button .badge-soft-secondary{
    transition: 0.4s;
    border-radius: 4px;
}
.fast_selling_images_button .badge-soft-secondary:hover{
    background-color: rgb(0, 0, 0, 0.54);
    transform: scale(1.014);
}
.badge-soft-secondary{
    background-size: cover;
    background-position: center;
}
body[data-layout-color="light"] .client_selected_product_row:hover, tbody#popover-container tr:hover, .checklist_item:hover{
    background-color: rgb(0, 0, 0, 0.1);
}
body[data-layout-color="dark"] .client_selected_product_row:hover, tbody#popover-container tr:hover, .checklist_item:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
#all_products_list_for_selling{
    margin-bottom: 0px !important;
    margin-top: 4px !important;
}
.big_keyboard_card{
    padding-top: 7px;
    margin: 0px !important;
    min-height: auto !important;
    height: 100%;
}
.checkbox_checked{
    background-color: #0D6EFD;
    background-position:right center !important;
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}
.checklist_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    border-radius: 4px;
}
.checklist_item h6{
    margin-bottom: 0px !important;
}
#payment_modal .modal-content{
    width: 794px;
}
img.width_20_px{
    width: 20px !important;
}
#payment_product_amount, #payment_product_return_price{
    color: red;
}